*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #8bca7d, #fcfa74, #fc8d75);
    overflow-x: hidden;
}
header{
    font: normal 15pt Arial;
    text-shadow: -1px 2px rgba(128, 128, 128, 0.5);
    background: -webkit-linear-gradient(red, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
/* Section Cards*/
.container{
    position: relative;
    left: 1em;
    display: flex;
    width: 90em;
    height: 40em;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.card{

    background-color: rgb(37, 37, 37);
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid b;
    border-radius: 10px;
    display: flex;
    left: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    transition: 0.4s;
    box-shadow: 1px 1px 12px rgb(68, 64, 64);

}
/* Mudar cor da bolinha */
#rt1::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #99ff55;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt1:hover::before
{
    clip-path: circle(80px at 100% -10%);
}
#rt2::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #99ff55;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt2:hover::before
{
    clip-path: circle(80px at 100% -10%);
}
#rt3::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1ff29;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt3:hover::before
{
    clip-path: circle(80px at 100% -10%);
}

#rt4::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1ff29;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt4:hover::before
{
    clip-path: circle(80px at 100% -10%);
}

#rt5::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3535;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt5:hover::before
{
    clip-path: circle(80px at 100% -10%);
}

#rt6::before
{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3535;
    clip-path: circle(60px at 100% 10%);
    transition: 0.4s ease-in-out;
}
#rt6:hover::before
{
    clip-path: circle(80px at 100% -10%);
}
.card .img{
    position:absolute;
    transition: 0.4s;
}
.container .card:hover .img {
    transform: translateY(-50%);
    transform:translateZ(20%)
}
.container .card:hover .assunto{
    top: 2%;
}
.card .conteudo{
    text-align: center;
    font-size: 15px;
    color: white;
    display: flex;
    position: absolute;
    top: 60%;
    opacity: 0;
    transition: 0.4s;
}
a{
    cursor: pointer;
}
.card .butao {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left: 35%;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    opacity: 0;
    color: white;
    background-color: black;
    transition: 0.4s;
}
.card .butao a{
    color: white;
    text-decoration: none;
}
.card:hover .conteudo{
    opacity: 1;
    top: 55%;
}
.card:hover .butao{
    opacity: 1;
    top: 80%;
}
.card .butao:hover{
    background-color: #424242;
}
.card .butao:hover a{
    font-size: 17px;
}
.card:hover{
    transform: translateY(-3%);
}
.assunto{
    position: absolute;
    color:white;
    top: 65%;
    transition: 0.4s;
}
.container .card:hover .assunto{
    top: 2%;
}
footer{
    color: #000000;
    text-align: center;
    font-style: italic;
}
.piscar {
    color: black;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight: 600;
}
@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: .0;
    }
    100% {
        opacity: 1.0;
    }
}

.modal{
    background-color: rgba(0, 0, 0, .93);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
	animation: animate;
	animation-duration: 800ms;
}

.body-modal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    margin: 10px auto 10px auto;
    border-radius: 14px;
    height: 90%;

}
@keyframes animate{
	from{opacity: 1;}
	from{opacity: 0;}
}

.subtitle-modal {
    z-index: 2000;
    left: 258px;
    position: absolute;
    padding: 4px;
    font-weight: 600;
    display: none;
}
#subtitle-p{
    background-color: #fff;
    padding: 2px;
    width: 188px;
    border-radius:10px;
}
#span-one{
    background-color: #8bca7d;
    z-index: 2000;
    width: 20px;
    position: absolute;
    height: 20px;
    margin-right: -43px;
    right: 184px;
}
#span-two{
    background-color: #e6e200;
    z-index: 2000;
    width: 20px;
    position: absolute;
    height: 20px;
    margin-right: -43px;
    right: 214px;

}
#span-three{    
    background-color: #ec340d;
    z-index: 2000;
    width: 20px;
    position: absolute;
    height: 20px;
    margin-right: -43px;
    right: 165px;
}

.modal-options{
    position: absolute;
    top: 5px;
    right:10px;
    cursor: pointer;
}

.subject{
    position: absolute;
    right: 25%;
    margin-top: 16px;
    font-size: 22px;
    font-weight: 600;
    width: 50%;
    display:none;    
}

.component-name{
    position: absolute;
    right: 25%;
    margin-top: -12px;
    font-size: 22px;
    font-weight: 600;
    width: 50%;
}

.modal-header{
    position: absolute;
    right: 25%;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    width: 50%;
}

.modal-content{
    position: relative;
    margin-top: 5rem;
    right: 0%;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.25rem;
}

.btn{
    background-color: rgba(9, 9, 9, 0.65);
    padding: 5px 10px 5px 10px;
    color: #FFF;
    cursor: pointer;
    transition: background .3s;
    border-radius: 50%;
    position: fixed;
    right: 32vw;
    top: 13px;
    z-index: 20000;
}

.btn:hover{
    background-color: rgb(52, 53, 52);
}
.btn:active{
    background-color: rgb(129,255,166);
}

button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    position: fixed;

}

svg {
    padding: 5px;
    width:60px;
    height:80px;
    stroke:#FFFFFF;
    display: none;
}
  
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
}
  
.left {
    left: 9%;
    top: 40%;
}
  
.right {
  left: 86%;
  top: 40%;

}
  
.left:hover polyline,
.left:focus polyline {
    stroke-width: 3;
}
  
.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}
  
.right:hover polyline,
.right:focus polyline {
    stroke-width: 3;
}
  
.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}
  
polyline {
    transition: all 250ms ease-in-out;
}
